@import url('https://fonts.googleapis.com/css?family=Sahitya');
* {font-family: 'Sahitya', serif;}
h2 {font-family: 'Sahitya', serif;}
#ensaladas .card-reveal {background-color:rgba(252,228,236,0.8)}
#principales .card-reveal {background-color:rgba(224,224,224,0.8)}
#postres .card-reveal {background-color:rgba(249,251,231,0.8)}
.fixed-action-btn.horizontal ul li{margin:8px 8px 0 0}
h2, li a.btn-floating{text-shadow: 3px 3px 4px rgba(150, 150, 150, 0.95);}

